streamlit
numpy==1.23.5
thinc==8.0.16
pandas==2.2.2
scikit-learn==1.5.1
spacy==3.7.2 
https://github.com/explosion/spacy-models/releases/download/it_core_news_sm-3.0.0/it_core_news_sm-3.0.0.tar.gz
stop-words==2018.7.23
setuptools>=67.0.0
